html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #23232B;
    background-image: linear-gradient( #5a5f76, #5a5f76, #23232B);
    color: #fff;
}

h1, .full-width {
    text-align: center;
    /* position: relative; child absolute */
    margin: 0 -9999rem; /*what makes the heading wrap*/
    /*add back section padding value */
    padding:1rem;
    background: #23232B;
    color: #fff;
    font-size: 1.125rem;
}

.navv ul{
    list-style-type: none;
    overflow: scroll;
    background-color: #23232B;
}

.navv li {
    float: left;
}

.navv li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navv li a:hover:not(.onpage) {
    background-color: #111;
}
  
.navv .onpage {
    background-color: #A25D53;
}

.grid-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #23232B;
} 

.cent{ /*it stands for center :>*/
    text-align: center;
}