/*style="color: #23232B"; dark grey
style="color: #A0AEC0"; light grey 
style="color: #A25D53";  red
style="color: #5A5F76"; grey grey */

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    overflow: hidden;
    background-color: #23232B;
    background-image: linear-gradient(#A0AEC0, #5A5F76, #23232B);
    margin-bottom: 10px;
    color: #fff;
}

h1, .full-width {
    text-align: center;
    position: relative; /* child absolute */
    margin: 0 -9999rem;
    /* add back section padding value */
    padding: 10px;
    background: #23232B;
    color: #fff;
    font-size: 1.125rem;
}

#navv{
    list-style-type: none;
    overflow: scroll;
    background-color: #23232B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.onpage) {
    background-color: #111;
}
  
.onpage {
    background-color: #A25D53;
}