/*#DEE4CC cream
#262626  black
#D8B44D  yellow
#74AEBF  blue
#D4BA85  gold*/
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #D4BA85;
    color: #262626;
}
h1, .full-width {
    text-align: center;
    /* position: relative; child absolute */
    margin: 0 -9999rem; /*what makes the heading wrap*/
    /*add back section padding value */
    padding:1rem;
    background: #262626;
    color: #D4BA85;
    font-size: 1.125rem;
}

h2 {
    text-align: center;
    margin: 0 -10rem;
    padding: 1rem;
    background: #262626;
    color: #D4BA85;
    font-size: 1rem;
}
.nav ul{
    list-style-type: none;
    overflow: scroll;
    background-color: #262626;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav li a:hover:not(.onpage) {
    background-color: #111;
}
  
.nav .onpage {
    background-color: #D4BA85;
}

#germania{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.grid-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
} 