/*style="color: #23232B"; dark grey
style="color: #A0AEC0"; light grey 
style="color: #A25D53";  red
style="color: #5A5F76"; grey grey */

html, body {
    overflow: hidden;
    background-image: linear-gradient(#A0AEC0, #5A5F76, #23232B);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

h1, .full-width {
    text-align: center;
    position: relative; /* child absolute */
    margin: 0 -9999rem;
    /* add back section padding value */
    padding: 10px;
    background: #23232B;
    color: #fff;
    font-size: 1.125rem;
}

#navv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #212328;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
#onpage {
    background-color: #04AA6D;
}